POSTGRES_USER=User
POSTGRES_PASSWORD=changeItToSomethingSecure
JWT_SECRET=changeIt
REFRESH_PEPPER=changeIt
SENTRY_TOKEN=sntrys_changeIt
SENTRY_URL=https://changeIt@changeIt.ingest.us.sentry.io/changeIt
SENTRY_ENV=development
SECURITY_COOKIES_SECURE=false
SECURITY_COOKIES_DOMAIN=localhost
SECURITY_LOGIN_MAX_ATTEMPTS=3
SECURITY_LOGIN_LOCK_MINUTES=5