<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<body>
<nav class="navbar navbar-expand-md navbar-custom navbar-fixed-top" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" th:href="@{/img/home}">Midnight Technician</a>
        <div class="collapse navbar-collapse">
            <!-- Left nav items -->
            <ul class="navbar-nav mb-2 mb-md-0">
                <li sec:authorize="hasRole('ROLE_OWNER')" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/dashboard/owner}">Owner</a>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_DEVELOPER', 'ROLE_MANAGER')" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/dashboard/admin}">Manager view</a>
                </li>
                <li sec:authorize="hasRole('ROLE_TECHNICIAN')" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/dashboard/ticketing}">Employee view</a>
                </li>
                <li sec:authorize="hasRole('ROLE_USER')" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/dashboard}">Profile</a>
                </li>
            </ul>

            <!-- Right auth buttons -->
            <div class="auth-buttons ms-auto">
                <div th:if="${#authorization.expression('isAuthenticated()')}">
                    <form th:action="@{/auth/logout}" method="post" style="display:inline;">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button type="submit" class="btn btn-custom">Logout</button>
                    </form>
                </div>
                <div th:unless="${#authorization.expression('isAuthenticated()')}">
                    <a class="btn btn-custom btn-secondary-custom" href="#" th:href="@{/register}">Register</a>
                    <a class="btn btn-custom" href="#" th:href="@{/login}">Login</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/csrf.js"></script>
</nav>
</body>
</html>